{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story8.css' %}" />
    <title>Waifu Tier List</title>
    <link rel="shortcut icon" href="https://i.imgur.com/OPh3pdh.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="dark">
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <div class="title">
        <a href="" >
            <p><s>Waifu Tier List<br></s></p>
            <h1>About Joni</h1>
        </a>
    </div>
    <div class="accordionlist" id='sortable'>
        {% for about in queryset %}
        <div class="accordion" id={{about.id}}>
            <div class='header'>
                <div class="textheader">
                    {{about.title}}
                </div>
                <div class="updown">
                    <button class='Green'><p>ʌ</p></button>
                    <button class='Red'>v</button>
                </div>
            </div>
            <div class="info">
                {{about.description}}
            </div>
        </div>
        {% endfor %}
        <div class="accordion" id=0>
            <div class='header'>
                <div class="textheader">
                    Siapa waifu saya
                </div>
                <div class="updown">
                    <button class='Green'><p>ʌ</p></button>
                    <button class='Red'>v</button>
                </div>
            </div>
            <div class="info">
                <img src="https://imgur.com/7lIcAP5.gif.gif" alt="Emilia">
            </div>
        </div>
    </div>
    <script src="{% static 'js/story8.js' %}"></script>
</body>
</html>