{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story9.css' %}" />
    <title>Google for books</title>
    <link rel="shortcut icon" href="https://i.imgur.com/OPh3pdh.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="dark">
    <div class="modal">
        <div class="title">Most Liked Books</div>
        <div class="bookmodal open">
        </div>
    </div>
    <div class="notification"></div>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <div class="title">
        <a href="">
            <h1>Boogle</h1>
        </a>
    </div>
    <div class="search">
        <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-8" viewBox="0 0 40 40">
              <path d="M16 32c8.835 0 16-7.165 16-16 0-8.837-7.165-16-16-16C7.162 0 0 7.163 0 16c0 8.835 7.163 16 16 16zm0-5.76c5.654 0 10.24-4.586 10.24-10.24 0-5.656-4.586-10.24-10.24-10.24-5.656 0-10.24 4.584-10.24 10.24 0 5.654 4.584 10.24 10.24 10.24zM28.156 32.8c-1.282-1.282-1.278-3.363.002-4.643 1.282-1.284 3.365-1.28 4.642-.003l6.238 6.238c1.282 1.282 1.278 3.363-.002 4.643-1.283 1.283-3.366 1.28-4.643.002l-6.238-6.238z"
              fill-rule="evenodd" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-4" viewBox="0 0 20 20">
              <path d="M11.664 9.877l4.485 4.485-1.542 1.54-4.485-4.485-4.485 4.485-1.54-1.54 4.485-4.485-4.485-4.485 1.54-1.54 4.485 4.484 4.485-4.485 1.54 1.542-4.484 4.485zM10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10z" fill-rule="evenodd"
              />
            </symbol>
          </svg>
          
          <div class="sbx-facebook">
              <input id="search" type="search" placeholder="Find your favorite books on boogle" required="required">
              <button type="submit" class="enter">
                <svg  aria-label="Search">
                  <use xlink:href="#sbx-icon-search-8"></use>
                </svg>
              </button>
            </div>
    </div>
    <div class="accordionlist">
        <div class="accordion">
            <div class='header'>
                <div class="accordionheader">
                    <p>Check Boogle Ranking</p>
                </div>
            </div>
        </div>
    </div>
    <div class="books"></div>
    <div class="suspense"></div>
    <script src="{% static 'js/story9.js' %}"></script>
</body>

</html>