{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/story10.css' %}" />
    <title>MASUKKAN PASSWORD ANDA DI SINI</title>
    <link
      rel="shortcut icon"
      href="https://i.imgur.com/OPh3pdh.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body class="dark">
    <div class="notification"></div>
    <div class="onoffswitch">
      <input
        type="checkbox"
        name="onoffswitch"
        class="onoffswitch-checkbox"
        id="myonoffswitch"
        checked
      />
      <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <div class="title">
      <a href="/totallysafe/">
        {% if user.is_authenticated %}
        <h1>Welcome back, {{ user.username }}</h1>
        <img src="{{ userprof.img_url }}" alt="no-img-set" />
        {% if userprof.birthday %}
        <h1>Ultah kamu {{ userprof.birthday }} ya,<br /></h1>
        {% else %}
        <h1>Birthday not set!<br /></h1>
        {% endif %} {% if user.first_name %}
        <h1>{{ userprof.full_name }}?</h1>
        {% else %}
        <h1>First and last name not set!</h1>
        {% endif %} {% else %}
        <h1>Hello, stranger</h1>
        {% endif %}
      </a>
    </div>
    <div class="menu">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">
        <div class="accordionheader">
          <p>Logout</p>
        </div>
      </a>
      {% else %}
      <a href="{% url 'jualdatapribadi:signup' %}">
        <div class="accordionheader">
          <p>Signup</p>
        </div>
      </a>
      <a href="{% url 'jualdatapribadi:login' %}">
        <div class="accordionheader">
          <p>Login</p>
        </div>
      </a>
      {% endif %}
    </div>

    <script src="{% static 'js/story10.js' %}"></script>
  </body>
</html>
