{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story10.css' %}" />
    <title>MASUKKAN PASSWORD ANDA DI SINI</title>
    <link rel="shortcut icon" href="https://i.imgur.com/OPh3pdh.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="dark">
    <!-- <div class="modal">
        <div class="title">Hello there!</div>
    </div> -->
    <div class="notification"></div>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <div class="title">
        <a href="/totallysafe/">
            <h1>Login</h1>
        </a>
    </div>
    <div class="accordionlist">
        <form action="{% url 'jualdatapribadi:login' %}" method="POST">
            {% csrf_token %}
            {% if form != None %}
            {{form}}
            {% else %}
            <p>Username :</p>
            <input id="id_username" type="text" name="username" placeholder="enter username" value="{{ username }}" required>
            <p>Password :</p>
            <input id="id_password" type="password" name="password" placeholder="enter password" value="{{ password }}" required>
            {% endif %}
            <div class="menu">
                    <input type="submit" class="nothing" value="Login!">
                <a href="{% url 'jualdatapribadi:signup' %}">
                    <div class="accordionheader">
                        <p>Dont have one yet?</p>
                    </div>
                </a>
            </div>
        </form>
    </div>

    <div class="books"></div>
    <div class="suspense"></div>
    <script src="{% static 'js/story10.js' %}"></script>
</body>

</html>