{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story10.css' %}" />
    <title>MASUKKAN PASSWORD ANDA DI SINI</title>
    <link rel="shortcut icon" href="https://i.imgur.com/OPh3pdh.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body class="dark">
    <div class="notification"></div>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <div class="title">
        <a href="/totallysafe/">
            <h1>Create A New User</h1>
        </a>
    </div>
    <div class="accordionlist">
        <p>{{ error }}</p>
        <form action="/totallysafe/signup/" method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="menu">
                    <input type="submit" class="nothing" value="Create Account!">
                <a href="/totallysafe/login/">
                    <div class="accordionheader">
                        <p>Already have one?</p>
                    </div>
                </a>
            </div>
        </form>
    </div>
    <script src="{% static 'js/story10.js' %}"></script>
</body>

</html>