/* html{
    height: 100%;
    width: 100%;
} */
body{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(21, 32, 43);
    font-weight: bold;
    color: rgb(255, 229, 195);
    width: 100%;
    height: 100%;
}

a { text-decoration: none; color:rgb(255, 229, 195); }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    text-align: center;
    font-size: calc(1vw + 12px);
}
.Red{
    background-color: #F47C7C;
    color: white;
}
.Green{
    background-color: #A1DE93;
    color: white;
}
.Blue{
    background-color: #70A1D7;
    color: white;
}
.Yellow{
    background-color:rgb(255, 229, 195);
    color: rgb(21, 32, 43);
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 6px;
    border-width: 0 0 2px 0;
    width: 100%;
    border-radius: 5px;
}
button{
    font-weight: bold;
    /* margin-top: 10px; */
    /* padding: 8px 12px; */
    background-color: rgb(207, 191, 169);
    border: 0;
    font-weight: bold;
    font-size: calc(1vw + 20px);
    font-family: inherit;
    cursor: pointer;
}
button.Red{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.accordionlist{
    margin: 5vw 14vw;
    display: flex;
    flex-direction: column;
}
.accordion{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding: 15px; */
    /* padding: 2vw 0px; */
    align-items: center;
    /* background-color: rgb(68, 77, 78); */
}

.updown{
    /* padding: inherit; */
    display: flex;
    align-items: center;
}

.info{
    display: none;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}

.accordion.active .info{
    margin-left: 10px;
    display: block;
    width: 100%;
    padding: 5px 2px;
    font-size: 12px;
    /* color: white; */
    /* background-color: #70A1D7; */
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 229, 195);
    color: rgb(21, 32, 43);
    -webkit-box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    -moz-box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    border-radius: 5px;
    cursor: pointer;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}

.textheader{
    padding: 10px 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    /* padding: 0px 1vw; */
}