/* html{
    height: 100%;
    width: 100%;
} */
body{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(21, 32, 43);
    font-weight: bold;
    color: rgb(255, 229, 195);
    width: 100%;
    height: 100%;
}
.header{
    text-align: center;
    font-size: calc(0.6vw + 12px);
}

a { text-decoration: none; color:rgb(255, 229, 195); }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    font-size: calc(1vw + 12px);
}
.add{
    cursor: pointer;
    align-self: flex-end;
    text-align: center;
    color: rgb(21, 32, 43);
    background-color: rgb(255, 229, 195);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-size: calc(0.8vw + 10px);
    width: calc(14vw + 60px);
}
.statuslist{
    margin: 5vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-around; */
    /* align-items: flex-start; */
    /* background: white; */
}
.status{
    margin-bottom: 0.1vw;
    width: 100%;
    padding: 1vw calc(2.5vw + 10px) 1vw calc(2.5vw + 10px);
    font-size: calc(0.7vw + 8px);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.13);
    border-radius: 1vw;
    /* border-radius: 50%; */
}
.Red{
    background-color: #F47C7C;
    color: white;
}
.Green{
    background-color: #A1DE93;
    color: white;
}
.Blue{
    background-color: #70A1D7;
    color: white;
}
.Yellow{
    background-color:rgb(255, 229, 195);
    color: rgb(21, 32, 43);
}
.modal {
    /* width: 300px; */
    width: calc(30vw + 105px);
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    color: rgb(21, 32, 43);
    background-color: rgb(255, 229, 195);
    box-shadow: 0px 0px 3.3px rgb(255, 229, 195);
    text-align: center;
}
.blur{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    display: none;
}
.blur.open{
    display: block;
}
input {
    display: block;
    margin: 8px 0;
    padding: 8px 6px;
    border-width: 0 0 2px 0;
    width: 100%;
    border-radius: 5px;
}
button{
    font-weight: bold;
}
/* input.thick {
    height: 50px;
} */
/* input.sm {
    width: calc(28vw + 40px);
} */
/* .inputlabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
button{
    margin-top: 10px;
    padding: 8px 12px;
    background-color: rgb(207, 191, 169);
    border: 0;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: inherit;
    cursor: pointer;
}
.accordionlist{
    margin: 8vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-around; */
    /* align-items: flex-start; */
    /* background: white; */
}
.accordion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 15px; */
    padding: 0px 1vw;
    align-items: center;
    /* background-color: rgb(68, 77, 78); */
    background-color: rgb(255, 229, 195);
    color: rgb(21, 32, 43);
    -webkit-box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    -moz-box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    box-shadow: 0px 0px 12px -3.5px rgba(255,198,84,1);
    border-radius: 4px;
    cursor: pointer;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}

.updown{
    /* padding: inherit; */
    display: flex;
    align-items: center;
}