:root{
    --darkgray: rgb(30, 41, 51);
    --gray0: #f8f8f8e3;
    --gray: #546153;
    --yellow: rgb(255, 229, 195);
    --yellowalt: rgba(255, 229, 195, 0.897);
    --yellow0: rgba(252, 249, 244, 0.87);
    --yellow1: rgba(240, 236, 231, 0.87);
    --success: #75DDDD;
    --google-gray-refresh: rgb(95, 99, 105);
    --grayalt: rgb(72, 74, 78);
}

.light {
    --bg: var(--yellow0);
    --text: var(--darkgray);
    --misc: var(--google-gray-refresh);
    --alt: var(--grayalt);
    --t2: var(--darkgray);
}

.dark {
    --bg: var(--darkgray);
    --text: var(--yellow);
    --misc: var(--yellow);
    --alt: var(--yellowalt);
    --t2: var(white);
}

body{
    margin: auto;
    font-family: 'Baloo Bhaina 2', cursive;
    /* background-color:rgb(21, 32, 43); */
    font-weight: bold;
    color: var(--text);
    background: var(--bg);
    width: 100%;
    height: 100%;
    transition: background 500ms ease-in-out, color 100ms ease-in-out;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    text-align: center;
    font-size: calc(1vw + 12px);
}
h1{
    display: inline-block;
    margin-top: 0;
}

.Red{
    background-color: #F47C7C;
    color: white;
}
.Green{
    background-color: #A1DE93;
    color: white;
}
.Blue{
    background-color: #70A1D7;
    color: white;
}
.Yellow{
    background-color:rgb(255, 229, 195);
}

input {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    border-width: 0 0 2px 0;
    width: 100%;
    border-radius: 5px;
}
button{
    font-weight: bold;
    padding: 0px calc(1vw + 10px);
    border: 0;
    font-weight: bold;
    font-size: calc(1vw + 20px);
    font-family: inherit;
    cursor: pointer;
}
button p{
    margin:0;
}
button.Red{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordionlist{
    margin: 1vw calc(15vw + 16px);
    display: flex;
    flex-direction: column;
}
.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    margin: auto;
}

p.nothing{
    margin: 0;
}

.header{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--misc);
    color: var(--darkgray);
    -webkit-box-shadow: 0px 0px 5px -3.5px var(--misc);
    -moz-box-shadow: 0px 0px 5px -3.5px var(--misc);
    box-shadow: 0px 0px 5px -3.5px var(--misc);
    border-radius: 5px;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}
.header:hover{
    background: var(--alt);
}

.textheader{
    padding: 10px calc(1vw + 7px);
    display: flex;
    font-size: calc(0.8vw + 11px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--bg);
}

.accordionheader{
    width: 100%;
    padding: 0px calc(1vw + 7px);
    display: flex;
    font-size: calc(0.8vw + 11px);
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    color: var(--bg);
    cursor: pointer;
}
.accordionheader p{
    margin-top: 2px;
    margin-bottom: 0px;
}

.onoffswitch {
    position: absolute;
    right: calc(1.2vw + 10px);
    top: calc(1vw + 10px);
    width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 33px; padding: 0; line-height: 33px;
    border: 2px solid #E3E3E3; border-radius: 33px;
    background-color: var(--yellow1);
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 33px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #E3E3E3; border-radius: 33px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #546153;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #546153;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.books{
    padding: 0.4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    text-align: center;
    padding: 4px;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--bg);
    color: var(--t2);
    border-radius: 5px;
    transition: all 0.5s;
}

.book{
    display: flex;
    flex-direction: column;
    margin: calc(0.3vw + 4px);
    width: calc(15vw + 90px);
    background-color: var(--bg);
    color: var(--text);
    -webkit-box-shadow: 0px 0px 5px -3.5px var(--misc);
    -moz-box-shadow: 0px 0px 5px -3.5px var(--misc);
    box-shadow: 0px 0px 5px -3.5px var(--misc);
    border-radius: 20px;
    overflow: hidden;
}

.book:hover > .content{
    transform: scale(1.05);
    height: auto;
}

.book-img{
    width: 100%;
    height: calc(15vw + 90px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.book-img.top img{
    /* height: 100%; */
    overflow: visible;
    border-radius: 20px;
    /* position: relative; */
}

.book-img img {
    /* object-fit: cover; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.search{
    margin: 0px 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .enter{
    position: absolute;
    height: calc(1vw + 45px);
    right: calc(8vw + 14px);
    margin: 0;
    color: white;
    cursor: pointer;
} */

.like{
    fill: var(--gray0);
    z-index: 2;
    position: absolute;
    right: 8px;
    top: 8px;
}
.like-count{
    text-align: center;
    margin: auto;
    display: inline-block;
    color: #ff6243;
    z-index: 3;
    position: absolute;
    right: 14px;
    top: 8px;
}

.like:hover{
    fill: #ff6243;
    transition: fill 300ms ease-in-out;
}

.like::after{
    fill: #ff6243;
}
.notification{
    width: calc(25vw + 80px);
    padding: 20px;
    position: fixed;
    z-index: 10;
    left: 50vw;
    transform: translate(-50%, 0);
    font-size: calc(1vw + 20px);
    top: 0;
    border-radius: 0 0 5px 5px;
    background: var(--success);
    text-align: center;
    color: #fff;
    margin-top: -100%;
    transition: all 0.4s;
}

.notification.active{
    margin-top: 0;
}

.suspense {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    /* transform: translate(-50%, -35%); */
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.imgur.com/7lIcAP5.gif.gif')
                50% 50% no-repeat;
}

.bookmodal{
    /* padding: 10vw; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
    display: none;
}
.modal.open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.loading .suspense {
    overflow: hidden;   
    display: block;
}

.sbx-facebook {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 27px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 13px;
  }
  
.enter {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: #f6f7f8;
    padding: 0;
    width: 35px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
  
input:focus {
    outline: 0;
}
  
.enter svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    fill: #3C5BA2;
}

@media only screen and (max-width: 600px) {
     .accordionlist{
        margin: 1.5vw 15px;
    }
    /* input{
        margin: 8px 0px;
        width: 75%;
        font-size: 17px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    } */
  }