:root{
    --darkgray: rgb(30, 41, 51);
    --gray0: #f8f8f8e3;
    --gray: #546153;
    --yellow: rgb(255, 229, 195);
    --yellow0: rgba(252, 249, 244, 0.87);
    --yellow1: rgba(240, 236, 231, 0.87);
    --google-gray-refresh: rgb(95, 99, 105);
}

.light {
    --bg: var(--yellow0);
    --text: var(--darkgray);
    --misc: var(--google-gray-refresh);
}

.dark {
    --bg: var(--darkgray);
    --text: var(--yellow);
    --misc: var(--yellow);
}

body{
    margin: auto;
    font-family: 'Baloo Bhaina 2', cursive;
    /* background-color:rgb(21, 32, 43); */
    font-weight: bold;
    color: var(--text);
    background: var(--bg);
    width: 100%;
    height: 100%;
    transition: background 500ms ease-in-out, color 100ms ease-in-out;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.title{
    text-align: center;
    font-size: calc(1vw + 12px);
}
h1{
    display: inline-block;
    margin-top: 0;
}

.Red{
    background-color: #F47C7C;
    color: white;
}
.Green{
    background-color: #A1DE93;
    color: white;
}
.Blue{
    background-color: #70A1D7;
    color: white;
}
.Yellow{
    background-color:rgb(255, 229, 195);
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 6px;
    border-width: 0 0 2px 0;
    width: 100%;
    border-radius: 5px;
}
button{
    font-weight: bold;
    padding: 0px calc(1vw + 10px);
    border: 0;
    font-weight: bold;
    font-size: calc(1vw + 20px);
    font-family: inherit;
    cursor: pointer;
}
button p{
    margin:0;
}
button.Red{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.accordionlist{
    margin: 1vw calc(15vw + 1px);
    display: flex;
    flex-direction: column;
}
.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updown{
    display: flex;
    align-items: center;
}

img {
    display: block;
    margin: 0 auto;
}

.accordion .info{
    display: block;
    width: 97%;
    padding: 5px 2px;
    font-size: calc(0.5vw + 11px);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--misc);
    color: var(--darkgray);
    -webkit-box-shadow: 0px 0px 12px -3.5px var(--misc);
    -moz-box-shadow: 0px 0px 12px -3.5px var(--misc);
    box-shadow: 0px 0px 12px -3.5px var(--misc);
    border-radius: 5px;
    cursor: pointer;
    transition: min-height .3s cubic-bezier(.25,.8,.5,1);
}

.textheader{
    padding: 10px calc(1vw + 7px);
    display: flex;
    width: 100%;
    font-size: calc(0.8vw + 11px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--bg);
}

.onoffswitch {
    position: absolute;
    right: calc(1.2vw + 10px);
    top: calc(1vw + 10px);
    width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 33px; padding: 0; line-height: 33px;
    border: 2px solid #E3E3E3; border-radius: 33px;
    background-color: var(--yellow1);
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 33px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border: 2px solid #E3E3E3; border-radius: 33px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #546153;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #546153;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book{
    display: flex;
}

@media only screen and (max-width: 600px) {
     .accordionlist{
        margin: 1vw calc(10vw + 1px);
    }
  }