{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story7.css' %}" />
    <title>Jwitter</title>
</head>
<body>
    <div class="blur open">
        <div class="modal">
            <h2>Are You Sure?</h2>
            {{name}}, you are about to post the comment {{content}}
            <form action="/" method="POST">
                {% csrf_token %}
                <input type="text" name="name" value="{{ name }}" required readonly>
                <input type="text" name="content" value="{{ content }}" required readonly>
                <input type="submit" class="confirm Blue" value="Yes, post my comment">
            </form>
            <form action="/" method="GET">
                <input type="submit" class=Red value="Shit, go back">
            </form>
        </div>
    </div>
    <div class="header">
        <h1>Salah fokus</h1>
    </div>
</body>
</html>