{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/story7.css' %}" />
    <title>Jwitter</title>
</head>
<body>
    <div class="blur">
        <div class="modal">
            <h2>Add A Comment</h2>
            <form action="confirm/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="comment" value="Comment">
            </form>
        </div>
    </div>
    <div class="header">
        <a href="" ><h1>Review Joni Dot Com</h1></a>
    </div>
    <div class="statuslist">
        <div class="add" id="add_form">
            <p>Add Comment +</p>
        </div>
        {% for status in queryset %}
            <div class="status {{status.color}}">
                <form action="randcolor/{{status.id}}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="change" value="CLICK TO CHANGE COLOR">
                </form>
                <p>- {{status.name}}</p>
                <p class="title">{{status.content}}</p>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/story7.js' %}"></script>
</body>
</html>